.dark-mode{
    background: #2C2C38;
    overflow: hidden;
}
.myhover{
    position: relative;
    right: 30px;
}
.myhover:hover{
    background-color: #645FC6;
    color: white;
    border-radius: 50px;
}
.text-gray{
    color:#7A8290
}
.icon-board{
    background: url("./assets/icon-board.svg") no-repeat;
    background-position: 50px;
}